/*message.css*/
body{
			background-color: #fff;
			font-family:"Josefin Slab","Myriad pro" ,serif;
		}
		.main{
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			height: 100vh;
			font-family:"Josefin Slab","Myriad pro" ,serif;
		}
		.main:before{
			background: url(../images/timg.jpg);
		    background-size: cover;
		    content: "";
		    position: absolute;
		    top: 0;
		    left: 0;
		    z-index: -1;/*-1 可以当背景*/
		    -webkit-filter: blur(3px);
		    filter: blur(5px);
		    width: 100%;
		    height: 100%;
		}
		.center{
			width: 90%;
			height: 220px;
			background-color:rgba(250, 150, 181, 0.3);
			margin: 10px auto;
			border-radius: 10px;
			box-shadow: 5px 5px 10px rgba(250, 150, 181, .6);
			display: flex;
			flex-direction: column;
			/*justify-content: center;*/
		}
		.title{
			width: 100%;
			height: 36px;
			background-color: #ff7d7d;
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
			border-bottom: 2px solid rgba(255,0,0,.4);
			line-height: 30px;
			text-align: center;
			color: #fff;
			font-size: 22px;
			font-weight: bold;
		}
		form{
			display: flex;
			flex-direction: column;
			padding: 5px 5px;
			color: #7f7f7f;
			font-size: 16px;
			font-weight: bold;
		}
		form>button {
		    background-color: #fc6363; /* Green */
		    width: 100px;
		    height: 40px;
		    border: none;
		    color: white;
		    margin: 5px 0px;
		    text-align: center;
		    text-decoration: none;
		    font-size: 16px;
		    align-self: center;
		    border-radius: 5px;
		}
		form>input{
			padding: 4px 0;
		}
		form>textarea{
			padding: 4px 0;			
		}