<!-- message.html -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>留言板</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/message.css">
</head>
<body>
    <div class="main" id="main">
    	<div class="center">
    		<div class="title">留言板</div>
    		<form action="" v-on:submit.prevent>
    			名字:
    			<input type="text" placeholder="name" v-model="username">{{username}}
    			内容：
    			<input type="text" placeholder="say something..." v-model="age">{{age}}
    			<button v-on:click="add">提交</button>
    		</form>
    	</div>
    	<div class="list" v-for="item in myData">
			<div>{{item.name}}</div>
			<div>{{item.age}}</div>
		</div>
    </div>
</body>
</html>
<script type="text/javascript" src="js/message.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
	window.onload = function(){
		new Vue({
			el: "#main",
			data: {
				username:'',
				age:'',
				nowIndex: -100,
				myData: [
					
				]
			},
			methods: {
				add: function(){
					this.myData.push({
						name: this.username,
						age: this.age
					});
					console.log(this.myData)
 
					this.username = '';
					this.age = '';
				},
				deleteMsg: function(n){
					if(n==-1){
						this.myData = [];
					}else{
						this.myData.splice(n,1);
					}
				}
			}
		})
	}
</script>